In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [18]:
cropData=pd.read_csv("Crop_recommendation.csv")

In [24]:
cropData.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [26]:
cropData.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [28]:
x=cropData.iloc[:,:-1]
y=cropData.iloc[:,-1]

In [30]:
x

        N   P   K  temperature   humidity        ph    rainfall
0      90  42  43    20.879744  82.002744  6.502985  202.935536
1      85  58  41    21.770462  80.319644  7.038096  226.655537
2      60  55  44    23.004459  82.320763  7.840207  263.964248
3      74  35  40    26.491096  80.158363  6.980401  242.864034
4      78  42  42    20.130175  81.604873  7.628473  262.717340
...   ...  ..  ..          ...        ...       ...         ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507
2196   99  15  27    27.417112  56.636362  6.086922  127.924610
2197  118  33  30    24.131797  67.225123  6.362608  173.322839
2198  117  32  34    26.272418  52.127394  6.758793  127.175293
2199  104  18  30    23.603016  60.396475  6.779833  140.937041

[2200 rows x 7 columns]

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [42]:
y_test

1451     muskmelon
1334    watermelon
1761        papaya
1735        papaya
1576         apple
           ...
59            rice
71            rice
1908        cotton
1958        cotton
482     pigeonpeas
Name: label, Length: 440, dtype: object

In [50]:
classifier = RandomForestClassifier(n_estimators=100, random_state=42)
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)

In [52]:
y_pred

array(['muskmelon', 'watermelon', 'papaya', 'papaya', 'apple', 'mango',
       'apple', 'mothbeans', 'mungbean', 'lentil', 'blackgram', 'coconut',
       'pomegranate', 'jute', 'coconut', 'pomegranate', 'apple', 'maize',
       'papaya', 'muskmelon', 'coffee', 'papaya', 'orange', 'papaya',
       'chickpea', 'jute', 'mungbean', 'orange', 'pigeonpeas', 'rice',
       'pomegranate', 'mothbeans', 'jute', 'lentil', 'jute', 'blackgram',
       'jute', 'chickpea', 'chickpea', 'kidneybeans', 'papaya', 'mango',
       'blackgram', 'maize', 'mungbean', 'maize', 'pigeonpeas', 'coconut',
       'muskmelon', 'maize', 'blackgram', 'coffee', 'grapes', 'mungbean',
       'coffee', 'kidneybeans', 'cotton', 'apple', 'banana', 'blackgram',
       'watermelon', 'coconut', 'lentil', 'orange', 'papaya',
       'pigeonpeas', 'orange', 'rice', 'muskmelon', 'pigeonpeas',
       'muskmelon', 'coconut', 'jute', 'banana', 'blackgram', 'papaya',
       'banana', 'cotton', 'watermelon', 'orange', 'coffee', 'chickpea',
       'rice', 'mothbeans', 'orange', 'mango', 'coffee', 'mothbeans',
       'blackgram', 'pomegranate', 'maize', 'mothbeans', 'cotton',
       'papaya', 'pigeonpeas', 'mothbeans', 'kidneybeans', 'coffee',
       'blackgram', 'lentil', 'coconut', 'rice', 'orange', 'muskmelon',
       'watermelon', 'kidneybeans', 'watermelon', 'banana', 'pigeonpeas',
       'mothbeans', 'banana', 'jute', 'cotton', 'pomegranate',
       'pigeonpeas', 'chickpea', 'maize', 'coconut', 'pomegranate',
       'rice', 'pigeonpeas', 'grapes', 'blackgram', 'coconut', 'chickpea',
       'blackgram', 'coconut', 'maize', 'banana', 'mothbeans', 'banana',
       'kidneybeans', 'pomegranate', 'chickpea', 'coconut', 'orange',
       'pigeonpeas', 'banana', 'banana', 'apple', 'kidneybeans',
       'muskmelon', 'mungbean', 'mothbeans', 'coconut', 'maize', 'apple',
       'coconut', 'kidneybeans', 'mothbeans', 'mungbean', 'lentil',
       'watermelon', 'mungbean', 'pigeonpeas', 'pigeonpeas', 'pigeonpeas',
       'kidneybeans', 'maize', 'jute', 'chickpea', 'apple', 'orange',
       'cotton', 'rice', 'coconut', 'grapes', 'lentil', 'watermelon',
       'grapes', 'grapes', 'blackgram', 'pomegranate', 'chickpea',
       'coconut', 'maize', 'lentil', 'grapes', 'watermelon', 'jute',
       'coffee', 'coffee', 'kidneybeans', 'jute', 'mothbeans',
       'kidneybeans', 'banana', 'kidneybeans', 'coconut', 'papaya',
       'papaya', 'mungbean', 'mango', 'pomegranate', 'watermelon',
       'kidneybeans', 'maize', 'apple', 'blackgram', 'chickpea', 'grapes',
       'grapes', 'banana', 'cotton', 'rice', 'pomegranate', 'mungbean',
       'banana', 'jute', 'mungbean', 'maize', 'chickpea', 'chickpea',
       'chickpea', 'apple', 'rice', 'kidneybeans', 'papaya', 'coffee',
       'blackgram', 'kidneybeans', 'mango', 'mango', 'coconut', 'papaya',
       'apple', 'chickpea', 'pomegranate', 'chickpea', 'muskmelon',
       'apple', 'muskmelon', 'muskmelon', 'mango', 'mango', 'cotton',
       'coconut', 'pomegranate', 'rice', 'muskmelon', 'coffee', 'papaya',
       'mothbeans', 'maize', 'mango', 'muskmelon', 'pigeonpeas',
       'mungbean', 'coffee', 'grapes', 'coconut', 'cotton', 'pigeonpeas',
       'rice', 'apple', 'pomegranate', 'coffee', 'chickpea', 'cotton',
       'jute', 'mango', 'banana', 'papaya', 'apple', 'chickpea', 'rice',
       'pigeonpeas', 'mothbeans', 'mungbean', 'jute', 'pomegranate',
       'grapes', 'mothbeans', 'jute', 'maize', 'coconut', 'maize',
       'chickpea', 'banana', 'jute', 'coconut', 'jute', 'mango',
       'muskmelon', 'apple', 'banana', 'pigeonpeas', 'blackgram',
       'orange', 'chickpea', 'watermelon', 'banana', 'apple', 'chickpea',
       'coffee', 'pigeonpeas', 'orange', 'apple', 'coconut', 'papaya',
       'watermelon', 'mothbeans', 'papaya', 'chickpea', 'pomegranate',
       'chickpea', 'papaya', 'lentil', 'apple', 'pomegranate', 'chickpea',
       'mango', 'chickpea', 'pomegranate', 'watermelon', 'kidneybeans',
       'mungbean', 'muskmelon', 'watermelon', 'kidneybeans', 'muskmelon',
       'mango', 'jute', 'blackgram', 'chickpea', 'banana', 'blackgram',
       'pigeonpeas', 'papaya', 'pigeonpeas', 'mungbean', 'coconut',
       'cotton', 'grapes', 'apple', 'lentil', 'banana', 'jute', 'apple',
       'pomegranate', 'apple', 'mungbean', 'muskmelon', 'coffee',
       'coffee', 'pigeonpeas', 'jute', 'kidneybeans', 'banana', 'maize',
       'jute', 'maize', 'pigeonpeas', 'mango', 'kidneybeans',
       'pomegranate', 'watermelon', 'blackgram', 'maize', 'rice',
       'mothbeans', 'kidneybeans', 'mango', 'cotton', 'papaya',
       'mothbeans', 'cotton', 'mungbean', 'orange', 'jute', 'blackgram',
       'mungbean', 'coffee', 'banana', 'pigeonpeas', 'papaya', 'apple',
       'pomegranate', 'maize', 'mango', 'coconut', 'apple', 'lentil',
       'jute', 'mothbeans', 'lentil', 'coconut', 'blackgram', 'jute',
       'mungbean', 'cotton', 'watermelon', 'apple', 'grapes', 'coconut',
       'grapes', 'watermelon', 'rice', 'mango', 'mango', 'coffee',
       'pomegranate', 'banana', 'grapes', 'jute', 'orange', 'cotton',
       'mango', 'papaya', 'muskmelon', 'mothbeans', 'jute', 'chickpea',
       'mothbeans', 'pomegranate', 'watermelon', 'mothbeans', 'cotton',
       'papaya', 'watermelon', 'lentil', 'rice', 'coconut', 'mothbeans',
       'mothbeans', 'maize', 'rice', 'maize', 'coconut', 'orange',
       'pomegranate', 'kidneybeans', 'watermelon', 'mungbean',
       'blackgram', 'rice', 'rice', 'cotton', 'cotton', 'pigeonpeas'],
      dtype=object)

In [56]:
from sklearn.metrics import accuracy_score

In [60]:
accuracy=accuracy_score(y_pred,y_test)
accuracy

0.9931818181818182

In [76]:
import numpy as np
import pandas as pd

feature_names = ["N", "P", "K", "temperature", "humidity", "ph", "rainfall"]

inputs = [float(input(f"Enter {feature}: ")) for feature in feature_names]
input_df = pd.DataFrame([inputs], columns=feature_names)
predicted_crop = classifier.predict(input_df)

print("Predicted Crop:", predicted_crop[0])

Enter N:  12
Enter P:  12
Enter K:  12
Enter temperature:  12
Enter humidity:  21
Enter ph:  21
Enter rainfall:  21

Predicted Crop: ['muskmelon']